ul{
    text-align: center;
 }

 body{
   
    
    background-color: black;
    color: #ccc;
   
    
 }

 @keyframes mianimacion0 {
    0%{border: solid rgb(245, 152, 31);}
    25%{border: solid #00a1ff;}
    50%{border: solid #ff7300;}
    75%{border: solid #01d898;}
    100%{border: solid #ccc;}
 }