//$colorbg: salmon; colo cas la variable$ y renombras colorbg crea un color


ul{
    list-style: none;
    padding: 0;
    margin: 60px 0;
    
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:azure;
    padding: 20px;
    background-color: rgb(18, 112, 112);
}

a{
    text-decoration: solid;
}